 /*@font-face { font-family: Arcon; src: url('Arcon-Regular.otf'); }*/
 @font-face { font-family: LemonMilk; src: url('fonts/LemonMilk.otf'); }
 @font-face { font-family: London; src: url('fonts/LondonBetween.ttf'); }
 /*#edd9c0 yellow
 #c9d8c5 green
 #a8b6bf blue
 #7d4627 brown*/

 .no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
 }

body{
  height: 100%;
  width:100%;
}

article {
  padding-top: 300px;
  padding-bottom: 300px;
}

#home {
  background: #c9d8c5;
  padding: 400px 0 300px;
}

#home .fa {
  color:white;
  margin-top: 200px;
  cursor: pointer;
}

.bounce {
  -webkit-animation-duration: 1.15s !important;
  animation-duration: 1.15s !important;
}

a li, a .fa{
  text-decoration: none;
  color:black;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

#nav {
  position:fixed;
  z-index:10;
  background: #edd9c0;
  border-bottom: #7d4627 1px solid;
}

#nav li {
  display:inline-block;
  color: #7d4627;
  font-family: London;
  font-size:20px;
  padding: 15px 0;
}

#name {
  font-family: LemonMilk;
  font-size: 65px;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 400;
  color: white;
  width:inherit;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.imgBox {
  overflow-y: hidden;
  display:inline-block;
  background-color: skyblue;
  margin-bottom:20px;
}

.imgBox a .fa{
  padding-top: 75px;
  padding-bottom: 75px;
  color:white;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50%
}

h2 {
  text-transform: capitalize;
  padding: 40px 0;
  font-size:50px !important;
}
